<h3>Do you have an interesting recipe to be shared?</h3>

<form action="/recipe" method="post">

  <div>Title: <input type="text" name="title" value=""></div>
  <div>
    Category:
    <select name="category_id">
      <% @categories.each do |category| %>
        <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>

  </div>
  <div>Prep & cooking time: <input type="text" name="prep_time" value=""></div>
  <div>Difficulty: <input type="text" name="difficulty" value=""></div>
  <div>Serving: <input type="text" name="serving" value=""></div>
  <div>Method: <textarea name="content" rows="8" cols="80"></textarea></div>

  <div>Picture: <textarea name="image" rows="8" cols="80"></textarea></div>
  <button class="button full-width" type="submit">Add Recipe</button>
</form>
