/* Button */

.button {
  /* Green */
  background-color: #4CAF50;

  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

/* Blue */
.button2 {
  background-color: #008CBA;
}

/* Red */
.button3 {
  background-color: #f44336;
}

/* Gray */
.button4 {
  background-color: #e7e7e7;
  color: black;
}

/* Black */
.button5 {
  background-color: #555555;
}
