/** {
  box-sizing: border-box;
}*/

.recipe-list {

}

.recipe-list .recipe-box {
  display: inline-block;
  vertical-align: top;
  margin: 15px 40px;
  width: 40%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}

.recipe-list .recipe-box .left {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  text-transform: capitalize;
}

.recipe-list .recipe-box .right {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 0;
}

.recipe-list .recipe-box .title {
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 20px;
}


.recipe-list .recipe-box .prep-time {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}

.recipe-list .recipe-box .difficulty {
  display: inline-block;
  vertical-align: top;
  padding-right: 20px;
}

.recipe-list .recipe-box .serving {
  display: inline-block;
  vertical-align: top;
}

.recipe-list .recipe-box .view-recipe {
  padding-top: 30px;
}
