<h1>Recipe List by Category page</h1>


<div>
  <div>Matcha</div>
  <div><a href="/detail/1"><img src="http://via.placeholder.com/100x100"></a></div>
  <div>Prep & cooking time: 10 mins</div>
  <div>Difficulty: easy</div>
  <div>Serving: serves 6</div>
  <a href="/detail/1">View recipe</a> <br/>

</div> </br></br>

<div>
  <div>Chessecake</div>
  <div><a href="/detail/2"><img src="http://via.placeholder.com/100x100"></a></div>
  <div>Prep & cooking time: 20 mins</div>
  <div>Difficulty: medium</div>
  <div>Serving: serves 8</div>
  <a href="/detail/2">View recipe</a> <br/>

</div>
