<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Recipe App</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link rel='stylesheet' href='/stylesheets/recipe-list.css'>
  <link rel='stylesheet' href='/stylesheets/button.css'>
  <link rel='stylesheet' href='/stylesheets/form.css'>
</head>
<body>

  <header>
   <img class="logo" src="https://s3.amazonaws.com/heroku-www-files/customers/logos/sweettooth.png">

    <nav>

      <ul>
        <li><a href="/">Home</a></li>
        <% if logged_in? %>
          <li><a href="/myrecipe">My Recipe</a></li>
        <% end %>

        <li>
        <% if logged_in? %>
          <a href="/logout">Logout</a>
        <% else %>
          <a href="/login">Register/Login</a>
        <% end %>
        </li>
      </ul>
    </nav>

  </header>
  <div class="content">
    <% if flash[:error] %>
      <div class="message">
        <%= flash[:error] %>
      </div>
    <% end %>

    <% if logged_in? %>
      Hi <%= current_user.name %>
    <%end%>

    <%= yield %>
  </div>
  <footer>
    <div>Made with  <span class="love">♥</span>  in Melbourne</div>
  </footer>
</body>
