<h1>My Recipe</h1>


<p>
<button class="button" onclick="window.location.href='/detail/new';">
   Add New Recipe
</button>

<div>
  <div>Matcha</div>
  <div><a href="/detail/1"><img src="http://via.placeholder.com/100x100"></a></div>
  <div>Prep & cooking time: 10 mins</div>
  <div>Difficulty: easy</div>
  <div>Serving: serves 6</div>
  <a href="/detail/1">View recipe</a> <br/>
  <button class="button button2" onclick="window.location.href='/detail/1/edit';">
    Edit
  </button>

  <form action="/detail/1" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="button button3" type="submit">
      Delete
    </button>
  </form>

</div> </br></br>

<div>
  <div>Chessecake</div>
  <div><a href="/detail/2"><img src="http://via.placeholder.com/100x100"></a></div>
  <div>Prep & cooking time: 20 mins</div>
  <div>Difficulty: medium</div>
  <div>Serving: serves 8</div>

  <a href="/detail/2">View recipe</a> <br/>
  <button class="button button2" onclick="window.location.href='/detail/2/edit';">
    Edit
  </button>

  <form action="/detail/2" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="button button3" type="submit">
      Delete
    </button>
  </form>
</div>
